<link rel="stylesheet" href="/css/style.css">
<nav class="navbar navbar-expand-lg navbar-dark primary mb-5 justify-content-between">
    <a class="navbar-brand ps-3" href="/">@&A</a> 
    <a class="navbar-brand ps-3" href="/">| voltar</a>
</nav>