<%- include('./partials/header') %>
<%- include('./partials/navbar') %>

<body>
 

  <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
          
          
            <form method="post" action="/salvarPergunta" class="p-4 mt-5 border rounded">
                <h2 class="text-center mb-4">Realizar perguntas</h2>
                <div class="mb-3">
                  <label for="titulo" class="form-label">Título </label>
                  <input type="text" name="titulo" class="form-control " placeholder="titulo">
                </div>

                <div class="mb-3">
                    <label for="descricao" class="form-label">Descrição</label>
                    <textarea class="form-control" name="descricao" id="" placeholder="Descreva sua pergunta aqui.."  ></textarea>
              
                </div>
               
                <button type="submit" class="btn btn-primary mt-3">Perguntar</button>
            </form>

           
       
       
          </div>
    </div>
</div>


<%- include('./partials/script') %>
   
</body>

<%- include('./partials/footer') %>