<%- include('./partials/header') %>
<%- include('./partials/navbar_main') %>

<body>

  <div class="container">
    <h1>main</h1>
    
  </div>  
       


  <%- include('./partials/script') %>
   
</body>

<%- include('./partials/footer') %>

 
